.typeBox {
    width: 500px;
}

.center {
    margin: auto;
    padding-top: 100px;
    width: 700px;
}
#timer {
    display: inline-block;
}

#slow{
    display: inline-block;
    margin-left: 400px;
}

#fast {
    display: inline-block;
    margin-left: 40px;
}

#correct {
    background-color: red;
}

/* prevent copy and paste */
#highlight { 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


    background-color: ghostwhite;

    font-size: 24px;
}

